body {
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .hero, .information, .quote, .cta, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 60px;
}

.header {
    justify-content: space-between;
    background: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    color: #e5e7eb;
}

.hero {
    justify-content: space-between;
    background: #1f2937;
    color: #f9faf8;
    gap: 50px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    flex: 1;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 16px;
    margin-bottom: 16px;
    flex: 1;
}

.hero-btn {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    flex: 1;
}

#hero-img {
    max-width: 100%;
    min-width: 100%;
}

.information {
    justify-content: space-between;
}

.info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background: #e5e7eb;
}

.cta-container {
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 20px 60px;
    gap: 130px;
}

.footer {
    background: #1f2937;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}